
*{
box-sizing: border-box;
margin: 0;
padding: 0;
}
body {
    background: #e9e9e9;    
}
.main_container {
    border: 2px solid #172e73;
    background: #aed2d2;
    margin: auto;
    width: 90%;
    max-width: 1024px;
    /*FLEX*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
header {
    background: #172e73;
    border-radius: 0vw 0vw 7vw;
    padding: 2px;
    width: 100%;
    /*FLEX*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
header .logo {
    margin: 10px;
    color: #fff;
    font-size: 20px;
}
header .logo img {
    vertical-align: top;
    width: 140px;
}
header .logo a {
    color: #fff;
    line-height: 140px;
    text-decoration: none;
}
header nav {
    background: #dd0909;
    width: 70%;
    /*FLEX*/
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
header nav a {
    color: #fff;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    /*FLEX*/
    flex-grow: 1;
}
header nav a:hover {
    background: #e74c3c;
}
main {
    background: #172e73;
    padding: 20px;
    /*FLEX*/
    display: flex;
    flex: 1 1 35%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}
main section {
    background: #aed2d2;
    padding: 25px;
    /*FLEX*/
    flex: 1 1 65%;
}
h1 {
    background-color: #172e73;
    color: #fff;
    font-size: 35px;
    text-align: center;
}
h2 {
    background-color: #172e73;
    color: #fff; 
    font-size: 30px;
    text-align: center;
}
p {
    text-align: justify;    
}
footer {
    background: #172e73;
    padding: 20px;
    width: 100%;
    /*FLEX*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .links {
    background: #dd0909;
    height: 40px;
    /*FLEX*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
footer .links a {
    color: #fff;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    /*FLEX*/
    flex-grow: 1;
}
footer .links a:hover {
    background: #e74c3c;    
}
footer .social a {
    color: #fff;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
}
footer .social .icon-facebook {
    background: #3b5998;
}
footer .social .icon-twitter {
    background: #00abf0;
}
footer .social .icon-google-plus3 {
    background: #e74c3c;
}
footer .social .nova {
    margin-left: 20px;
    background: #3b5998;
}
footer .social .nova:hover {
    background: ghostwhite;
}
footer .social a:hover {
    background: #dd0909;
}
footer p {
    margin-left: 145px;
    margin-top: -60px;
    position: absolute;
    color: #fff;    
    font-size: 12px;
}
footer img {
    height: 18px;
    width: 60px;    
}
@media screen and (max-width: 1108px) {
header nav {
    width: 100%;    
}
}
@media screen and (max-width: 1024px) {
footer .social {
    margin-top: 10px;
}
footer .links {
    margin-top: 25px;
 }
}

@media screen and (max-width: 980px) {
header nav {
    width: 100%;
 }   
}

@media screen and (max-width: 768px) {
.main_container {
    flex-direction: column;
}
header {
    border-radius: 0vw 0vw 0vw;
    padding: 1px;
    flex-direction: row;    
}
header .logo {
    margin: 10px; 
}
header .logo a {
    line-height: 130px; 
}
main {
    padding: 8px;
    flex-direction: column;
    flex: 0;
}
main section {
    flex-grow: 1;    
}
h1, h2 {
    font-size: 6vw;    
}
footer {
    justify-content: space-around;
    padding: 5px;
    width: 100%;
}
footer .links {
     margin-top: 30px;   
     margin-bottom: 20px;
}
footer .social {
    margin-top: 30px;    
 }
}

@media (max-width: 600px) {
main {
    flex-wrap: nowrap;
}
.main_container {
    flex-wrap: nowrap;    
 }
}

@media screen and (max-width: 360px) {
footer .links a {   
    background: #dd0909;
}
footer .links {
    margin-bottom: 30px;
}
}
@media screen and (max-width: 340px) {
header .logo a {  
    line-height: 60px;
    float: right;
}
}
