.text {
    position: center;
    border-radius: 20px;
    padding-top: 5px;
    text-align: center;
    height: 30px;
    width: 250px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: yellow;
    animation-name: stretch;
    animation-duration: 1s; 
    animation-timing-function: ease-in; 
    animation-delay: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}
.text a {
    font-size: 18px;
    color: blue;
    text-decoration: none;    
}
.text a:hover {
    text-decoration: underline;
    border: 1px dotted blue;
}
@keyframes stretch {
0% {
    transform: scale(1);
    background-color: yellow;
    border-radius: 100%;
}
50% {
    background-color: lime;
}
100% {
    transform: scale(1.5);
    background-color: red;
 }
}
